.menu__hamburger-menu {
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 15;
  width: 3rem;
  height: 2.5rem;
}

.menu__hamburger-menu:hover {
  cursor: pointer;
}

.menu__hamburger-menu__line {
  pointer-events: none;
  width: 3rem;
  height: 2px;
  border-radius: 4px;
  transition-property: transform, opacity, top;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transform-origin: left;
  position: relative;
  top: 0;
}

.menu__hamburger-menu__open .menu__hamburger-menu__line:nth-child(1) {
  transform: rotate(45deg);
}

.menu__hamburger-menu__open .menu__hamburger-menu__line:nth-child(2) {
  opacity: 0;
}

.menu__hamburger-menu__open .menu__hamburger-menu__line:nth-child(3) {
  top: 5px;
  transform: rotate(-45deg);
}

.menu__hamburger-menu__line + .menu__hamburger-menu__line {
  margin-top: 6px;
}

.menu__container {
  padding-top: 8rem;
  position: fixed;
  z-index: 10;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.15);
  top: 0;
  bottom: 0;
  left: 0;
  width: 30rem;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.menu__container ul {
  list-style: none;
  padding: 0;
}

.menu__settings-menu__item,
.menu__menu-item {
  padding: 2rem;
  position: relative;
  display: flex;
  align-items: center;
}

.menu__label {
  flex-grow: 1;
}

.menu__menu-item-active:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 3rem;
  width: 3px;
  background-color: #f9bd3f;
}

.menu__menu-item-active {
  color: #f9bd3f;
  cursor: not-allowed;
  pointer-events: none;
}

.menu__menu-item:hover {
  cursor: pointer;
}

.menu__container__open {
  transform: translateX(0);
}

.menu__heading {
  margin-top: 2rem;
  padding: 0 2rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2rem;
  color: #888;
}

@media (prefers-color-scheme: dark) {
  .menu__container {
    background: #353535;
    color: #fff;
  }

  .menu__hamburger-menu__line {
    background-color: #fff;
  }

  .menu__menu-item:hover {
    background-color: #454545;
  }
}

@media (prefers-color-scheme: light) {
  .menu__container {
    background: #fff;
    color: #000;
    border-right: 1px solid #d1d1d1;
  }

  .menu__hamburger-menu__line {
    background-color: #000;
  }

  .menu__menu-item:hover {
    background-color: #eaeaea;
  }
}
