.revert-filename-changes:hover {
  text-decoration: underline;
  cursor: pointer;
}

.revert-filename-changes {
  color: black;
}

.export-icon:hover {
  cursor: pointer;
}

.export-icon:focus,
.export-icon:active {
  opacity: 0.5;
}

.export-icon.disabled {
  fill: #757575;
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  .export-icon {
    fill: #fff;
  }
}

@media (prefers-color-scheme: light) {
  .export-icon {
    fill: #000;
  }
}
